# Dependency (kalau nanti pakai Node.js)
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Sistem operasi
.DS_Store
Thumbs.db

# Editor
.vscode/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
